*geometry_dp*.yaml
/examples/record_replay.jl
/LocalPreferences*
examples/LocalPreferences.toml
test/LocalPreferences.toml
processed_data
ideas.txt
*.log
*.pdf
*.old
*.mp4
.helix
*.arrow
!data/reel_out_4p_torque_control.arrow
!data/relaxed_*.arrow
data/polars_neuralfoil/
data/nf_aero_geometry.yaml
*.bin
*.bin.xz
*.tar.gz
*.bak
*.xopp
*.so
*.so.bak
.claude
AGENTS.md
CLAUDE.md
Manifest.toml
Manifest*.toml
data/*.png
/Manifest.toml
/Manifest.toml.1.7
test/data/kite.obj
test/data/settings.yaml
test/data/system.yaml
.vscode/settings.json
install_version*.txt
output/
statprof/
docs/src/winch.png
data/settings_v9.yaml
data/system_v9.yaml
data/settings_v9b.yaml
data/tmp.arrow
examples_3d/Manifest.toml
data/settings_v9c.yaml
data/settings_v9d.yaml
data/spectrum*.jld2
data/settings_v9e.yaml
cspell.config.yaml
Manifest-v1.11.toml
Manifest-v1.10.toml
data/settings_v9f.yaml
Manifest-v1.10.toml.bak
Manifest-v1.11.toml.bak
Manifest-v1.11.toml.backup
data/model*.default
docs/src/.$kite_power_tools.drawio.bkp
.bash_profile
.bashrc
.gitconfig
.gitmodules
.idea
.mcp.json
.profile
.ripgreprc
.vscode
.zprofile
.zshrc
/HEAD
/config
/config.lock
/config.worktree
/hooks
/objects
/refs
settings.json
.JETLSConfig.toml
examples_2d/LocalPreferences.toml
.markdownlint.json
data/*.npz
data/gui.yaml
PlanCleanupTests.md
